.testimonial-section-container {
  background: #202229;
  background-image: url(../../assets/quote.svg);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  height: fit-content;
}

.testimonial-section {
  padding: 7rem 6rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  color: rgba(198, 196, 196, 0.7);
}

.testimonial-section>.left,
.testimonial-section>.right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.testimonial-section>.left {
  width: 460px;
}

.testimonial-section>.left>.title {
  font-size: 30px;
  /* width: 379px; */
}

.left>.subtext,
.right>.subtext {
  color: rgba(198, 196, 196, 1);
}

.right>.subtext {
  max-width: 500px;
  text-align: left;
}

.testimonial-section>.right {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 3rem
}

.left>.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.left>.actions>.first,
.left>.actions>.second {
  width: fit-content;
}

.left>.actions>.second {
  transform: rotate(180deg);
}

.testimonial-section>.right>.user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial-section>.right>.user>.details>.name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.testimonial-section>.right>.user>.details {
  display: flex;
  flex-direction: column;
}

.details>.position>.company,
.details>.location {
  font-size: 15px;
  color: rgba(198, 196, 196, 0.7);
}

.testimonial-section>.right>.user>.details>.position {
  font-size: 15px;
  color: rgba(198, 196, 196, 0.4);
}

.testimonial-section-container>.separator {
  background: white;
  padding: 0.75rem;
  margin-top: -1rem;
  position: absolute;
  width: 100%;
  bottom: 40px
}

.testimonial-section>.left>.title {
  color: white;
  text-align: left;
  display: inline-block;
}

.testimonial-section>.left>.title>.user-profile {
  display: inline-block;
  margin: 0 0.7rem;
}

@media screen and (max-width: 900px) {
  .testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 2rem;
  }

  .testimonial-section>.left,
  .testimonial-section>.right {
    width: 100%;
  }

  .testimonial-section>.right {
    display: flex;
    padding: unset
  }

  .testimonial-section>.right>.user>.details>.name {
    font-size: 1.2rem;
  }

  .testimonial-section-container>.separator {
    padding: 0.3rem;
    bottom: 10px;
  }
}