.services-section,
.services-section>.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
}

.services-section {
  background: #EDEFFF;
  padding: 4rem 6rem;
  padding-top: 16rem;
}

.services-section>.title {
  font-size: 3rem;
  font-weight: 700;
  max-width: 900px;
  margin-bottom: 4rem;
  align-self: center;
  color: #202229;
}

.services-section>.content>.item {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  width: 100%;
  align-items: center;
}

.services-section>.content>.item>.left>.label {
  color: #202229;
  font-weight: 500;
  font-size: 1.5rem;
}

.services-section>.content>.item:nth-of-type(3)>.left {
  padding-left: 2rem;
}

.services-section>.content>.item:nth-of-type(3)>.right {
  width: 35%;
  display: flex;
  align-items: stretch;
  text-align: right;
}

.content>.item>.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25%;
}

.content>.item>.right>.detail {
  text-align: left;
  align-self: center;
  /* width: 45% */
}

.content>.item>.left>.action>.icon {
  width: fit-content;
  transform: rotate(-90deg);
}

.left>.sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 1rem;
}

.left>.sub>.sub-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem
}

.left>.action {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.right>p>.more {
  font-size: 18px;
}

.right>p>.more {
  font-weight: 600;
}

.content>.item>.left>.label {
  color: var(--black);
  font-weight: 500;
  font-size: 18px;
}


@media screen and (max-width: 900px) {
  .services-section {
    padding: 2rem;
    padding-top: 9rem;
    padding-bottom: 6rem;
  }

  .services-section>.content>.item {
    display: flex;
    flex-direction: column;
    gap: 2rem
  }

  .content>.item>.left>.label {
    text-align: center;
  }

  .services-section>.content>.item:last-child {
    flex-direction: column-reverse;
  }

  .services-section>.title {
    font-size: 1.7rem;
  }

  .left>.sub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .content>.item>.left {
    width: 100%;
  }

  .services-section>.content>.item:nth-of-type(3)>.right {
    width: 100%;
  }
}