.how-section-container {
  padding: 8rem 6rem;
}

.how-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.how-section>.top {
  text-align: left;
  align-self: flex-start;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.how-section>.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: space-between;
}

.how-section>.top>.title {
  text-align: left;
  font-size: 2.5rem;
}

.how-section>.bottom>.left {
  align-self: flex-start;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.how-section>.bottom>.right {
  align-self: flex-start;
  width: 100%;
  height: 100%;
}

.how-section>.bottom>.right>img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.step {
  font-weight: 600;
}

@media (max-width: 1150px) {

  .how-section>.top>.title,
  .how-section>.top>.subtext {
    text-align: center;
  }

  .how-section-container {
    padding: 6rem 2rem;
  }

  .how-section>.top {
    width: 100%;
  }

  .how-section>.top>.title {
    font-size: 1.7rem;
  }

  .how-section>.bottom {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .how-section>.bottom>.left p.step-content {
    text-align: left;
  }
}