.how-section-container {
  padding: 8rem 6rem;
}

.how-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.how-section>.top {
  text-align: left;
  align-self: flex-start;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.how-section>.bottom {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.how-section>.top>.title {
  text-align: left;
  font-size: 2.5rem;
}

.how-section>.bottom>.left {
  align-self: flex-start;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.how-section>.bottom>.right {
  align-self: flex-start;
}

.step {
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .how-section-container {
    padding: 6rem 2rem;
  }

  .how-section>.top {
    width: 100%;
  }

  .how-section>.top>.title {
    font-size: 1.7rem;
  }

  .how-section>.bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .how-section>.bottom>.left p.step-content {
    text-align: left;
  }
}